<h1><%= @post.title%></h1>
By <%= link_to @post.blogger.name, blogger_path(), :method => :get %>
- <%= @post.likes%> Likes - 
<%= link_to @post.destination.name, destination_path(), :method => :get  %>,
<%= @post.destination.country %>
<p><%= @post.content%></p>


<%= button_to "Delete this post", @post, :method => :delete%>
<%= button_to "Edit this post", edit_post_path(@post), :method => :get %>
<%= button_to "Go back", posts_path(), :method => :get %>
